{% extends "layout/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="page-inner">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table id="productTable" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" /></th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Offer Price</th>
                            <th>Stocks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be injected here via JavaScript -->
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <meta name="csrf-token" content="{{ csrf_token }}"> 
{% endblock content %}
{% block extra_js %}
<script>
    $(document).ready(function() {
        $.ajaxSetup({
            headers: { "X-CSRFToken": $("meta[name='csrf-token']").attr("content") }
        });      
        
        function fetchTemplate() {
            $.ajax({
                url: "{% url 'api_labels-list' %}",
                type: "GET",
                success: function(data) {
                    const select = $('#labelTemplate');
                    select.empty(); // Clear old options
        
                    // Add default option
                    select.append(`<option value="">-- Select Template --</option>`);
        
                    data.forEach(function(template) {
                        const isDefault = template.is_default ? "selected" : "";
                        select.append(`<option value="${template.id}" ${isDefault}>${template.name}</option>`);
                    });
                },
                error: function(xhr) {
                    console.error("Failed to fetch templates:", xhr.responseText);
                }
            });
        }
        
        $('#productTable').DataTable({
            ajax: {
                url: "{% url 'api_product-list' %}",
                dataSrc: '',
                error: function(xhr, error, code) {
                    let tableBody = $('#productTable tbody');
                    let colspan = $('#productTable thead th').length;
                    tableBody.empty();

                    if (xhr.status == 401) {
                        window.location.href = '/login/';
                    } else {
                      tableBody.append(
                          `<tr class="table-error-row">
                              <td colspan="${colspan}" style="text-align:center; color: red;">${xhr.responseJSON.detail}</td>
                          </tr>`
                      );
                    }


                }
            },
            columns: [
                {
                    data: 'id',
                    render: function(data, type, row) {
                        return `<input type="checkbox" class="product-checkbox" value="${data}">`;
                    },
                    orderable: false,
                    searchable: false
                },
                { data: 'name' },
                { data: 'displayed_price' },
                { data: 'selling_price' },
                { data: 'stock_quantity' },

            ],
            columnDefs: [
                {
                    targets: -1, // last column (Action)
                    width: '70px', // set to a smaller width
                    className: 'text-center' // optional: center-align the buttons
                },
                {
                    targets: -2, // last column (Action)
                    width: '50px', // set to a smaller width
                    className: 'text-center' // optional: center-align the buttons
                },
                {
                    targets: -3,
                    width: '50px',
                    className: 'text-center'
                }
            ],
            order: [[1, 'asc']],
            pageLength: 10,
            searching: true,
            lengthChange: false,
            dom: '<"d-flex justify-content-between align-items-center mb-2"lfB>rtip',
        });

        // Append custom button after search input
        $('#productTable_filter').parent().append(`
            <div class="d-flex align-items-center ms-3" style="gap: 0.5rem; flex-wrap: nowrap;">
                <select id="labelTemplate" class="form-select form-select-sm" style="width: auto;">
                    <option value="">Select Label Template</option>
                </select>
                <button id="printLabels" class="btn btn-success btn-sm">Print Labels</button>
            </div>
        `);
        // Calling the function to fetch the template
        fetchTemplate()

        // Handle 'Select All' checkbox
        $('#productTable').on('change', '#selectAll', function() {
          $('.product-checkbox').prop('checked', this.checked);
        });

        $('#printLabels').click(function () {
            const ids = $('.product-checkbox:checked').map(function () {
                return $(this).val();
            }).get();

            if (ids.length === 0) {
                alert("Please select at least one product.");
                return;
            }
            const templateId = $('#labelTemplate').val()
            const url = "{% url 'print_labels' %}" + '?template_id='+templateId+'&ids=' + ids.join(',');
            window.location.href = url;
        });



    });


</script>
{% endblock extra_js %}
